
#navbar {
    position: fixed;
        width: 100%;
    margin: 80;
    padding: 20px;
    text-decoration:none;
    font-family: Nunito, sans-serif;
    display: flex;
    justify-content:center;
    /* border: 3px solid; */
}

nav li {
  padding: 5px;
  margin: 5px;
}
main {
  padding: 60px;
  font-family: Nunito, sans-serif;
  line-height: normal;
}

#profilePic {
  border-radius: 100%;
  float: left;
  height:15em;
  width:auto;
  margin: 20px;
}

#aboutMe {
  width: 50%;
  text-align: justify;
  margin: 10px;
};

#intro {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

a:hover{
  color: navy;
}

h1 {
  font-size: 4em;
}

a{
  text-decoration: none;
  color: grey;
}

#navbar li {
  display: inline-block;
  color: #FFFFFF;
  padding: 0 20px;
}


h3 {
  font-weight: 800;
  font-size: 2em;
  margin-top: 20px;
  letter-spacing:0.05em;
}

h2 {
  font-weight: bold;
  font-size: 1.3em;
}

footer {
    background-color: #8C8D95;
    margin-top: 0;
    padding: 40px;
    font-family: 'Nunito', sans-serif;
    text-decoration:none;
    display: flex;
    justify-content: space-around;
}

#C {
  /* justify-content: space-between; */
}
