/* colors:
#031926
#468189
#77ACA2
#9DBEBB
#F4E9CD
 */

nav {
  background-color: #77ACA2;
}

#navbar {
    position: fixed;
    background-color: #FFF;
    width: 90%;
    height: 30px;
    padding:20px;
    text-decoration:none;
    font-family: Nunito, sans-serif;
    display: flex;
    justify-content:flex-end;
    color: #031926;
}

#listaChorob {
  margin: 2em;
  padding: 2em;
  height: 15em;
  width: 50%;
}

.hr2 {
  width: 65em;
}
#wCzymMogePomoc {
  columns: 2;
}

#wCzymMogePomoc li:before {
  content: '✓';
  color: #7CC85F;
  font-weight: bold;
}

main {
  padding: 60px;
  font-family: Nunito, sans-serif;
  line-height: normal;
  color: #031926;
}

#profilePic {
  border-radius: 100%;
  float: left;
  margin-top: 100px;
  height:15em;
  width:auto;
  margin: 20px;
}

#tytul {
  padding-top: 2em;
  height: 15em;
  display: flex;
  flex-direction: column;
}

hr {
    display: block;
    overflow: hidden;
    border-style:solid;
    width: 15em;
    border-width: 2px;
    border-color: #468189;
    background-color: #468189;
    padding-left: 0;
    margin-left: 0;
}

#oMnie {
  margin: 3em;
}

#aboutMe {
  padding: 1em;
  text-align: justify;
  column-count: 2;
};

#doswiadczenie {
  margin: 3em;
};



a:hover{
  color: #468189;
}

a{
  text-decoration: none;
  color: #031926;
}

#navbar li {
  display: inline-block;
  color: #FFFFFF;
  padding: 0 20px;
}


h1 {
  font-weight: 800;
  font-size: 2em;
  margin-top: 20px;
  letter-spacing:0.05em;
}

h2 {
  font-weight: bold;
  font-size: 1.3em;
}


footer {
    background-color: #468189;
    margin-top: 0;
    padding: 30px 30px 30px 100px;
    height: 5em;
    font-family: 'Nunito', sans-serif;
    text-decoration:none;
    color: #FFF;
  };
